<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- API HOSPITAL VETERINARIO -->
        <!-- Consultar asi:https://apihospitalveterinariout.e-city.co/Swagger/index.html -->
        <add key="HospitalApiBaseUrl"
             value="https://apihospitalveterinariout.e-city.co/api/Hospital/" />
        <!-- PERIPHERALS -->
        <add key="imgVoucher"
             value="Assets/Images/Voucher.png" />
        <!-- IMPRESION EN MODO DEBUG -->
        <!-- En Debug (NO_PERIPHERALS) la tirilla se genera como PDF con la impresora de Windows,
             conservando el ancho y la escala de la tirilla de la w80, para poder revisarla sin
             hardware. En Release se sigue usando la w80 y estas claves no se tienen en cuenta. -->
        <add key="debugPrinterName"
             value="Microsoft Print to PDF" />
        <add key="debugPrintOutputFolder"
             value="Receipts" />
        <add key="debugPrintOpenPdf"
             value="true" />
        <add key="scannerPort"
             value="COM9" />
        <add key="arduinoPort"
             value="COM4" />
        <add key="dispenserPort"
             value="COM1" />
        <add key="meiPort"
             value="COM2" />
        <!-- <add key="acceptorDevice" value="JCM" /> -->
        <add key="acceptorDevice"
             value="MEI" />
        <add key="dispenserDenominations"
             value="10000;2000" />
        <!-- <add key="dispenserDenominations" value="DP:10000-DP:2000" /> -->
        <!-- API -->
        <add key="apiBaseAddress"
             value="https://apidashboardv2.e-city.co/" />
        <add key="apiKeyId"
             value="1E4F66B8-8602-4F9F-9AAC-F1D329A4AB1D" />
        <!-- LOGIN  DEV -->
        <add key="username"
             value="Pay+ Prueba1" />
        <add key="PaypadId"
             value="1" />
        <add key="pwd"
             value="gk1AK0jm8t/Rf7PurAyJtIURothKG8ikaxenmSBJYHfn7aOvQroIUn4iAiyNDoOi5TaJjFDQx+gtyArGvXTkRplilB2z3BT83uMXC3T8MMsXnj3/jDHiS0Pk2aCeTeE6eiF2k/eHqsDfq8sQn7cCxpMozREGwz2nWrpFBhU7Dpe4Fht1XTCb7hnGAMmrtIqdDr78MDkkcVYIjfoIOZYw5RqFWohKYdRg7Pq6HYtpWWvKTwOR8O2WCom/lCRX+EwkGC7+sMZqPN/eWEAK59SJOQ9UMpNcWYVztmhMhIEY4YbdqIp1lQ0dufoXF0e4YlE8kNPJ5dSFlEO624M3C3sVdw==" />
        <!-- LOGIN -->
        <!-- <add key="username" value="Pay+ Hospital Veterinario UT" />
		<add key="PaypadId" value="43" />
		<add key="pwd" value="qEJkCAvN9SIFHWG8wr3LkVlkZnzTK22whbWdt+RhBpBrugDA0R/OqbM2Sotp5OBsngyCjiIBnQ+5OO6jGewWBXpfnfcGi2Sq917yzUBhqf2y7JVr5TCOnqRz5cZ2A0BOH5DZrEB6y0l3ITmpf5SQDL0sEIWY8R1tNcnFuXdV7EFBJK6JqB4+kQow7hxOjYVKNiPT18J7uOGTPSoa+87MrMVMBTUjdQusECEITzTWe3AC05TT/QaqH5HnKfZYUDPQDMDR1uy/bMRCaTtIl9/PT5tkycJDBFWf75RGeaJSIfpBUi/oHiLG8x41efOTg3JoGC8jhywww3T88V1P9EoKpQ=="/> -->
        <!-- ENDPOINTS -->
        <add key="Login"
             value="Auth/LoginPayPad" />
        <add key="Validate"
             value="api/PayPad/Validate" />
        <add key="Tonnage"
             value="api/Tonnage/GetByPaypad/" />
        <add key="Transaction"
             value="api/Transaction/Paypad" />
        <add key="TransactionDetails"
             value="api/Transaction/Paypad/Details" />
        <add key="TransactionRating"
             value="api/Transaction/Rating" />
    </appSettings>
</configuration>
